<% include ../partials/adminHead %>

<br>
<div class="row">
    <div class="card bg-dark col-sm" style="width: 18rem;" id="showdetail">
        <div class="card-body text-center">
            <p class="card-text">user login</p>
            <h5 class="text-white"><i class="fa fa-arrow-up text-success" aria-hidden="true"></i> 504</h5>
            <p class="card-text">From Last 24 Hours</p>
        </div>
    </div>
    <div class="card bg-dark col-sm" style="width: 18rem;" id="showdetail">
        <div class="card-body text-center">
            <p class="card-text">Transaction</p>
            <h5 class="text-white"><i class="fa fa-arrow-up text-success" aria-hidden="true"></i> 300</h5>
            <p class="card-text">From Last 24 Hours</p>
        </div>
    </div>
    <div class="card bg-dark col-sm" style="width: 18rem;" id="showdetail">
        <div class="card-body text-center">
            <p class="card-text">Order</p>
            <h5 class="text-white"><i class="fa fa-arrow-up text-success" aria-hidden="true"></i> 150</h5>
            <p class="card-text">From Last 24 Hours</p>
        </div>
    </div>
    <div class="card bg-dark col-sm" style="width: 18rem;" id="showdetail">
        <div class="card-body text-center">
            <p class="card-text">Match Order</p>
            <h5 class="text-white"><i class="fa fa-arrow-down text-danger" aria-hidden="true"></i> 250</h5>
            <p class="card-text">From Last 24 Hours</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="card bg-dark col-sm" id="showdetail">
        <canvas id="bar-chart"></canvas>
    </div>
    <div class="card bg-dark col-sm" id="showdetail">
        <canvas id="doughnut-chart"></canvas>
    </div>
</div>

<div class="row">
    <div class="card bg-dark col-sm" style="width: 18rem;" id="showdetail">
        <div class="card-body text-center">
            <h5 class="text-white">Recent Order</h5>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Time</th>
                        <th scope="col">Status</th>
                        <th scope="col">Price</th>
                        <th scope="col">Type</th>
                        <th scope="col">Volume</th>
                        <th scope="col">Stock</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (orders.length<=5) { %>
                        <% for(var i=0;i< orders.length;i++) { %>
                        <tr>
                            <td><%=orders[i].Order_Time.toDateString()%></td>
                            <td><%=orders[i].Order_Status%></td>
                            <td><%=orders[i].Order_Price%></td>
                            <% if (orders[i].Order_Type === 'Buy') { %>
                            <td class="text-success"><%=orders[i].Order_Type%></td>
                            <% } else { %>
                            <td class="text-danger"><%=orders[i].Order_Type%></td>
                            <% } %>
                            <td><%=orders[i].Order_Volume%></td>
                            <td><%=orders[i].Stock_Symbol%></td>
                        </tr>
                        <% } %>
                    <% } else { %>
                        <% for(var i=0;i<5;i++) { %>
                                <tr>
                                    <td><%=orders[i].Order_Time.toDateString()%></td>
                                    <td><%=orders[i].Order_Status%></td>
                                    <td><%=orders[i].Order_Price%></td>
                                    <% if (orders[i].Order_Type === 'Buy') { %>
                                    <td class="text-success"><%=orders[i].Order_Type%></td>
                                    <% } else { %>
                                    <td class="text-danger"><%=orders[i].Order_Type%></td>
                                    <% } %>
                                    <td><%=orders[i].Order_Volume%></td>
                                    <td><%=orders[i].Stock_Symbol%></td>
                                </tr>
                                <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card bg-dark col-sm" style="width: 18rem;" id="showdetail">
        <div class="card-body text-center">
            <h5 class="text-white">Recent Transaction</h5>
            <table class="table table-dark">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">TIME</th>
                        <th scope="col">Type</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Account ID</th>
                    </tr>
                </thead>
                <tbody>
                <% if (orders.length<=5) { %>
                    <% for(var i=0;i< transactions.length;i++) { %>
                    <tr>
                        <td><%=transactions[i].Transaction_Timestamp.toDateString()%></td>
                        <% if (transactions[i].Transaction_Type === 'Deposit') { %>
                        <td class="text-success"><%=transactions[i].Transaction_Type%></td>
                        <% } else { %>
                        <td class="text-danger"><%=transactions[i].Transaction_Type%></td>
                        <% } %>
                        <td><%=transactions[i].Transaction_Amount%></td>
                        <td><%=transactions[i].Account_ID%></td>
                    </tr>
                    <% } %>
                <% } else { %>
                    <% for(var i=0;i< 5;i++) { %>
                        <tr>
                            <td><%=transactions[i].Transaction_Timestamp.toDateString()%></td>
                            <% if (transactions[i].Transaction_Type === 'Deposit') { %>
                            <td class="text-success"><%=transactions[i].Transaction_Type%></td>
                            <% } else { %>
                            <td class="text-danger"><%=transactions[i].Transaction_Type%></td>
                            <% } %>
                            <td><%=transactions[i].Transaction_Amount%></td>
                            <td><%=transactions[i].Account_ID%></td>
                        </tr>
                        <% } %>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>

</div>



<script>

// Bar chart
new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
        labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
        datasets: [{
            label: "Population (millions)",
            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
            data: [2478, 5267, 734, 784, 433]
        }]
    },
    options: {
        legend: {
            display: false
        },
        title: {
            display: true,
            text: 'Predicted world population (millions) in 2050'
        }
    }
});

new Chart(document.getElementById("doughnut-chart"), {
    type: 'doughnut',
    data: {
        labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
        datasets: [{
            label: "Population (millions)",
            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
            data: [2478, 5267, 734, 784, 433]
        }]
    },
    options: {
        title: {
            display: true,
            text: 'Predicted world population (millions) in 2050'
        }
    }
});

</script>

<% include ../partials/adminFoot %>