<% include ../partials/header %>
<% include ../partials/profilesHead %>
<div class="container-fluid py-5">
    <h1 class="display-2">Portfolio</h1>
    <table class="table table-border">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Available Volume</th>
                <th scope="col">Average Cost</th>
                <th scope="col">Market Price</th>
                <th scope="col">Amount(Price)</th>
                <th scope="col">Market Value</th>
                <th scope="col">Unrealized P/L</th>
                <th scope="col">%Unrealized P/L</th>
                <!-- <th scope="col">Realized P/L</th> -->
            </tr>
        </thead>
        <tbody>
            <% portfolios.forEach(function(order){ %>
            <tr>
                <th scope="row"><%=order.Stock_Symbol%></th>
                <td><%=order.volume%></td>
                <td><%=order.average_cost.toFixed(2)%></td>
                <td><%=order.last_price%></td>
                <td><%=order.Amount_Price%></td>
                <td><%=order.Market_Value%></td>
<% if(order.Unreal >= 0){ %>
                <td class="text-success"><%=order.Unreal%></td>
                <td class="text-success"><%=order.Per_Unreal.toFixed(2)%> %</td>
<% }else{ %>
    <td class="text-danger"><%=order.Unreal%></td>
    <td class="text-danger"><%=order.Per_Unreal.toFixed(2)%> %</td>
<% } %>
            </tr>
            <% }); %>
            <% if(allAccount != '' && portfolios !=''){ %>
            <tr>
                <td colspan="3"></td>
                <td>Total</td>
                <td><%=Total[0]%></td>
                <td><%=Total[1]%></td>
                <% if(Total[2]>0){ %>
                    <td class="text-success"><%=Total[2]%></td>
                    <% }else{ %>
                    <td class="text-danger"><%=Total[2]%></td>
                    <% } %>
                <% if(Total[3]>0){ %>
                <td class="text-success"><%=Total[3].toFixed(2)%> %</td>
                <% }else{ %>
                <td class="text-danger"><%=Total[3].toFixed(2)%> %</td>
                <% } %>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>
<% if(allAccount != '' && portfolios !=''){ %>
    <div class="row mb-5">
        <div class="col">
        <canvas id="Available-Volume"></canvas>
        </div>
        <div class="col">    
        <canvas id="total_graph"></canvas>
        </div>
    </div>
<% } %>




<script>

new Chart(document.getElementById("total_graph"), {
    type: 'pie',
    data: {
      labels: ["Amount(Price)", "Market Value", "Unrealized"],
      datasets: [
        {
          label: "",
          backgroundColor: ["#3e95cd", "#8e5ea2",
          <% if(Total[2]>0){ %>
          "#3cba9f"],
          <% }else{ %>
            "#c45850"],
            <% } %>
          data: [<%=Total[0]%>,<%=Total[1]%>,<%=Total[2]%>]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Total Portfolio'
      }
    }
});


new Chart(document.getElementById("Available-Volume"), {
    type: 'doughnut',
    data: {
    <% if(stock.length == 1){ %>
        labels: ["<%=stock[0]%>"],
    <% }else if(stock.length == 2){ %>
        labels: ["<%=stock[0]%>","<%=stock[1]%>"],
    <% }else if(stock.length == 3){ %>
        labels: ["<%=stock[0]%>","<%=stock[1]%>","<%=stock[2]%>"],
    <% }else if(stock.length == 4){ %>
        labels: ["<%=stock[0]%>","<%=stock[1]%>","<%=stock[2]%>","<%=stock[3]%>"],
    <% }else if(stock.length == 5){ %>
        labels: ["<%=stock[0]%>","<%=stock[1]%>","<%=stock[2]%>","<%=stock[3]%>","<%=stock[4]%>"],
    <% } %>
      datasets: [{
        label: "Population (millions)",
        <% if(stock.length == 1){ %>
            backgroundColor: ["#3e95cd"],
        <% }else if(stock.length == 2){ %>
            backgroundColor: ["#3e95cd", "#8e5ea2"],
        <% }else if(stock.length == 3){ %>
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
        <% }else if(stock.length == 4){ %>
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9"],
        <% }else if(stock.length == 5){ %>
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        <% } %>
        data: [<%=volume%>]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Available Volume'
      }
    }
});



</script>
<% include ../partials/profilesFoot %>
<% include ../partials/footer %>