<% include ../partials/header %>
<!--search-->
<div class="container mt-5">
    <form class="form-inline" action="/trade" method="POST">
        <div class="row">
            <div class="col"></div>
            <div class="col text-right pt-2">
                <i class="fa fa-search" style="font-size: 24px;"></i>
            </div>
            <div class="col">
                <input class="marketData tt-query" type="text" placeholder="Search Stock Symbol" name="searchStock">
                <button type="submit" class="btn btn-primary" style="visibility: hidden;">Search</button>
            </div>
        </div>
    </form>
</div>

<!-- content -->
<% if(stock){ %>
<div class="container" style="width: 50%;">
    <div class="card mr-2 py-2 px-4">
        <h1 class="col" id="stock-symbol">
            <%=stock.Stock_Symbol%>
        </h1>
        <div class="row mt-2">
            <p class="col">
                high Price:<span class="text-success" id="stock-percent"><%=stock.high_price%></span>
            </p>
            <h4 class="col">
                Last Price: <span class="text-secondary" id="stock-last"><%=stock.last_price%></span>
            </h4>

        </div>
        <div class="row">
            <p class="col">
                Low Price:<span class="text-danger" id="stock-change"><%=stock.low_price%></span>
            </p>
            <p class="col">
                Change:
                <% if(stock.price_change >= 0){ %>
                <span class="text-success" id="stock-change"><%=stock.price_change%></span>
                <% }else{%>
                <span class="text-danger" id="stock-change"><%=stock.price_change%></span>
                <% } %>
            </p>

        </div>
        <div class="row">
            <p class="col">
                Ceiling Price: <span class="text-success" id="stock-percent"><%=stock.ceil_price%></span>
            </p>
            <p class="col">
                Stock Value: <span class="text-secondary" id="stock-percent"><%=stock.stock_value%></span>
            </p>
        </div>
        <div class="row">
            <p class="col">
                Floor Price: <span class="text-danger" id="stock-change"><%=stock.floor_price%></span>
            </p>
            <p class="col-6">
                Stock Volume: <span class="text-secondary" id="stock-change"><%=stock.stock_volume%></span>
            </p>
        </div>
    </div>
</div>
<% } %>
<div class="container py-5">
    <form action="/trade" method="POST">
        <div class="row">
            <div class="col-1">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Order_Type" id="inlineRadio1" value="Buy"
                        required>
                    <label class="form-check-label" for="inlineRadio1">Buy</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Order_Type" id="inlineRadio2" value="Sell"
                        required>
                    <label class="form-check-label" for="inlineRadio2">Sell</label>
                </div>
            </div>
            <div class="form-group col">
                <input class="marketData tt-query" type="text" name="Stock_Symbol" placeholder="Symbol" required>
            </div>
            <div class="form-group col">
                <input type="number" class="form-control" id="price" name="Order_Price" placeholder="Price" required>
            </div>
            <div class="col-2"></div>
        </div>


        <div class="form-row">
            <div class="col-1"></div>
            <div class="form-group col">
                <input type="number" class="form-control" id="volume" name="Order_Volume" placeholder="Volume" required>
            </div>
            <div class="form-group col">
                <input type="number" class="form-control" id="pin" name="PIN" placeholder="PIN" required>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Submit Order</button>
                <button type="submit" class="btn btn-secondary">Clear</button>
            </div>
        </div>
    </form>
</div>

<% if (orders != '') { %>
<div class="container">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Order NO</th>
                <th scope="col">Symbol</th>
                <th scope="col">Account ID</th>
                <th scope="col">Time</th>
                <th scope="col">Status</th>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
                <th scope="col">Volume</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% orders.forEach(function(order){ %>
            <tr>
                <th scope="row"><%=order.Order_No%></th>
                <td><%=order.Stock_Symbol%></td>
                <td><%=order.Account_ID%></td>
                <td><%=order.Order_Time%></td>
                <td><%=order.Order_Status%></td>
                <% if (order.Order_Type === 'Buy') { %>
                <td class="text-success"><%=order.Order_Type%></td>
                <% } else { %>
                <td class="text-danger"><%=order.Order_Type%></td>
                <% } %>
                <td><%=order.Order_Price%></td>
                <td><%=order.Order_Volume%></td>
                <td></td>
                <td>
                    <form action="/trade/cancel/<%=order.Order_No%>?_method=PUT" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">Cancel</button>
                    </form>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<% } %>
<% include ../partials/footer %>