<% include ../partials/header %>

<!-- Search form -->
<div class="container my-5" style="width: 50%;">
    <form class="form-inline" action="/trade" method="POST">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-lg w-75 ml-3" type="text" placeholder="Search Stock Symbol"
            name="searchStock">
    </form>
</div>
<!-- content -->
<% if(!stock){ %>
<% }else{ %>
<div class="container" style="width: 50%;">
    <div class="card">
        <div class="row pt-4">
            <p class="card-title col ml-5 display-3" id="stock-symbol"><%=stock.Stock_Symbol%></p>
            <p class="col display-4">
                Last Trade
                <br>
                <span class="display-4" id="stock-last" style="color: red;"><%=stock.Stock_last%></span>
            </p>
        </div>
        <div class="row pb-4">
            <p class="col display-4 ml-5">
                Change
                <br>
                <span class="display-4" id="stock-change" style="color: red;">-0.25</span>
            </p>
            <p class="col display-4">
                % Change
                <br>
                <span class="display-4" id="stock-percent" style="color: red;">-0.52%</span>
            </p>
        </div>
    </div>
</div>
<% } %>
<div class="container py-5">
    <form action="/trade" method="POST">
        <div class="row">
            <div class="col-1">
                <br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Order_Type" id="inlineRadio1" value="Buy">
                    <label class="form-check-label" for="inlineRadio1">Buy</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Order_Type" id="inlineRadio2" value="Sell">
                    <label class="form-check-label" for="inlineRadio2">Sell</label>
                </div>
            </div>
                <div class="form-group col">
                    <label for="formGroupExampleInput">Symbol</label>
                    <select class="form-control" name="Stock_Symbol">
                        <% symbols.forEach(function(symbol){ %>
                        <option value="<%=symbol.Stock_Symbol%>"><%=symbol.Stock_Symbol%></option>
                        <% }); %>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="formGroupExampleInput">ACCOUNT ID</label>
                    <select class="form-control" name="Account_ID">
                        <% accounts.forEach(function(account){ %>
                        <option value="<%=account.Account_ID%>"><%=account.Account_ID%></option>
                        <% }); %>
                    </select>
                </div>
            </div>


            <div class="form-row">
                <div class="col-1"></div>
                <div class="form-group col-3">
                    <input type="number" class="form-control" id="price" name="Order_Price" placeholder="Price">
                </div>
                <div class="form-group col-3">
                    <input type="number" class="form-control" id="volume" name="Order_Volume" placeholder="Volume">
                </div>
                <div class="form-group col-2">
                    <input type="number" class="form-control" id="pin" name="PIN" placeholder="PIN">
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Submit Order</button>
                    <button type="submit" class="btn btn-secondary">Clear</button>
                </div>
            </div>


    </form>
</div>

<% if (orders != '') { %>
<div class="container">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Order NO</th>
                <th scope="col">Symbol</th>
                <th scope="col">Account ID</th>
                <th scope="col">Time</th>
                <th scope="col">Status</th>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
                <th scope="col">Volume</th>
                <th scope="col">Profit</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% orders.forEach(function(order){ %>
            <tr>
                <th scope="row"><%=order.Order_No%></th>
                <td><%=order.Stock_Symbol%></td>
                <td><%=order.Account_ID%></td>
                <td><%=order.Order_Time.toDateString()%></td>
                <td><%=order.Order_Status%></td>
                <% if (order.Order_Type === 'Buy') { %>
                <td class="text-success"><%=order.Order_Type%></td>
                <% } else { %>
                <td class="text-danger"><%=order.Order_Type%></td>
                <% } %>
                <td><%=order.Order_Price%></td>
                <td><%=order.Order_Volume%></td>
                <td></td>
                <td>
                    <form action="/trade" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">Cancel</button>
                    </form>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<% } %>
<% include ../partials/footer %>