<% include ../partials/header %>
<!--search-->
<div class="container my-5">
        <form class="form-inline" action="/trade" method="POST">
            <div class="row">
                <div class="col col-sm col-md col-lg col-xl text-right pt-2">
                    <i class="fa fa-search" style="font-size: 24px;"></i>
                </div>
                <div class="col-9 col-sm-10 col-md-9 col-lg-9 col-xl-9">
                    <input class="marketData tt-query" type="text" placeholder="Search Stock Symbol" name="searchStock">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>

<!-- content -->
<% if(stock){ %>
<div class="container" style="width: 50%;">
    <div class="card">
        <div class="row pt-4">
            <p class="card-title col ml-5 display-3" id="stock-symbol"><%=stock.Stock_Symbol%></p>
            <p class="col display-4">
                Last Trade
                <br>
                <span class="display-4" id="stock-last" style="color: red;"><%=stock.Stock_last%></span>
            </p>
        </div>
        <div class="row pb-4">
            <p class="col display-4 ml-5">
                Change
                <br>
                <span class="display-4" id="stock-change" style="color: red;">-0.25</span>
            </p>
            <p class="col display-4">
                % Change
                <br>
                <span class="display-4" id="stock-percent" style="color: red;">-0.52%</span>
            </p>
        </div>
    </div>
</div>
<% } %>
<div class="container py-5">
    <form action="/trade" method="POST">
        <div class="row">
            <div class="col-1">
                <br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Order_Type" id="inlineRadio1" value="Buy" required>
                    <label class="form-check-label" for="inlineRadio1">Buy</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Order_Type" id="inlineRadio2" value="Sell" required>
                    <label class="form-check-label" for="inlineRadio2">Sell</label>
                </div>
            </div>
                <div class="form-group col">
                    <label for="formGroupExampleInput">Symbol</label>
                        <div class="col-9 col-sm-10 col-md-9 col-lg-9 col-xl-9">
                            <input class="marketData tt-query" type="text" placeholder="Search Stock Symbol" name="Stock_Symbol">
                        </div>
                </div>
            </div>


            <div class="form-row">
                <div class="col-1"></div>
                <div class="form-group col-3">
                    <input type="number" class="form-control" id="price" name="Order_Price" placeholder="Price" required>
                </div>
                <div class="form-group col-3">
                    <input type="number" class="form-control" id="volume" name="Order_Volume" placeholder="Volume" required>
                </div>
                <div class="form-group col-2">
                    <input type="number" class="form-control" id="pin" name="PIN" placeholder="PIN" required>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Submit Order</button>
                    <button type="submit" class="btn btn-secondary">Clear</button>
                </div>
            </div>


    </form>
</div>

<% if (orders != '') { %>
<div class="container">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Order NO</th>
                <th scope="col">Symbol</th>
                <th scope="col">Account ID</th>
                <th scope="col">Time</th>
                <th scope="col">Status</th>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
                <th scope="col">Volume</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% orders.forEach(function(order){ %>
            <tr>
                <th scope="row"><%=order.Order_No%></th>
                <td><%=order.Stock_Symbol%></td>
                <td><%=order.Account_ID%></td>
                <td><%=order.Order_Time%></td>
                <td><%=order.Order_Status%></td>
                <% if (order.Order_Type === 'Buy') { %>
                <td class="text-success"><%=order.Order_Type%></td>
                <% } else { %>
                <td class="text-danger"><%=order.Order_Type%></td>
                <% } %>
                <td><%=order.Order_Price%></td>
                <td><%=order.Order_Volume%></td>
                <td></td>
                <td>
                    <form action="/trade/cancel/<%=order.Order_No%>?_method=PUT" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">Cancel</button>
                    </form>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<% } %>
<% include ../partials/footer %>