<% include ../partials/header %>


<!-- graph -->
<div class="row py-5 px-5">
	<div class="col col-sm col-md col-lg col-xl" id="setGraph">
		<div class="card" id="graph-1">
			<div class="card-body text-center">
				SET graph
			</div>
		</div>
	</div>
	<div class="col col-sm col-md col-lg col-xl">
		<div class="card ml-5" id="graph-2">
			<div class="card-body text-center">
				mai graph
			</div>
		</div>
	</div>
</div>
<!--overview market-->
<div class="container mb-5">
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Market Type</th>
				<th scope="col">Last Price</th>
				<th scope="col">Price Change</th>
				<!-- <th scope="col">% Price Change</th> -->
				<th scope="col">Volume</th>
				<th scope="col">Value</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td scope="row"><%= market_mai.Market_Type%></td>
				<td><%=market_mai.last_price%></td>
				<% if(market_mai.price_chage > 0){ %>
				<td class="text-success"><%=market_mai.price_chage%></td>
				<% }else if(market_mai.price_chage < 0){ %>
				<td class="text-danger"><%=market_mai.price_chage%></td>
				<% }else{ %>
				<td><%=market_mai.price_chage%></td>
				<% } %>
				<td><%=market_mai.stock_volume%></td>
				<td><%=market_mai.market_value%></td>
			</tr>
			<tr>
				<td scope="row"><%= market_SET.Market_Type%></td>
				<td><%=market_SET.last_price%></td>
				<% if(market_SET.price_chage > 0){ %>
					<td class="text-success"><%=market_SET.price_chage%></td>
					<% }else if(market_SET.price_chage < 0){ %>
					<td class="text-danger"><%=market_SET.price_chage%></td>
					<% }else{ %>
					<td><%=market_SET.price_chage%></td>
					<% } %>
				<td><%=market_SET.stock_volume%></td>
				<td><%=market_SET.market_value%></td>
			</tr>
		</tbody>
	</table>
</div>

<!-- top10gainer -->
<div class="container mb-5">
	<div class="card">
		<div class="card-body">
			<div class="card-title">
				<div class="container">
					<div class="row justify-content start">
						<div class="col-2">
							<select class="custom-select">
								<option value="set">SET</option>
								<option value="mai">mai</option>
							</select>
						</div>
						<div class="col-4">
							<select class="custom-select">
								<option value="top-gainer">Top 10 gainer</option>
								<option value="top-volume">Top 20 stocks volume trading</option>
								<option value="top-value">Top 20 stocks value trading</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body">
				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Stock Symbol</th>
							<th scope="col">Last Price</th>
							<th scope="col">Volume</th>
							<th scope="col">Value</th>
							<th scope="col">Price Change</th>
						</tr>
					</thead>
					<tbody>
						<% topGainers.forEach(function(topGainer){ %>
						<tr>
							<td scope="row"><%=topGainer.Stock_Symbol%></td>
							<td><%=topGainer.last_price%></td>
							<td><%=topGainer.stock_value%></td>
							<td><%=topGainer.stock_volume %></td>
							<% if(topGainer.price_change > 0){ %>
								<td class="text-success"><%=topGainer.price_change%></td>
								<% }else if(topGainer.price_change < 0){ %>
								<td class="text-danger"><%=topGainer.price_change%></td>
								<% }else{ %>
								<td><%=topGainer.price_change%></td>
								<% } %>
						</tr>
						<% }); %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<% include ../partials/footer %>