<% include ../partials/header %>


<!-- graph -->
<div class="row py-5 px-5">
	<div class="col col-sm col-md col-lg col-xl" id="setGraph">
		<div class="card" id="graph-1">
			<div class="card-body text-center">
					<canvas id="line-SET"  width="100" height="50"></canvas>
			</div>
		</div>
	</div>
	<div class="col col-sm col-md col-lg col-xl">
		<div class="card ml-5" id="graph-2">
			<div class="card-body text-center">
				<canvas id="line-MAI"  width="100" height="50"></canvas>
			</div>
		</div>
	</div>
</div>
<!--overview market-->
<div class="container mb-5">
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Market Type</th>
				<th scope="col">Last Price</th>
				<th scope="col">Price Change</th>
				<!-- <th scope="col">% Price Change</th> -->
				<th scope="col">Volume</th>
				<th scope="col">Value</th>
			</tr>
		</thead>
		<tbody>
			<% markets.forEach(function(market){ %>
			<tr>
				<td scope="row"><%= market.Market_Type%></td>
				<td><%=market.last_price%></td>
				<% if(market.price_chage > 0){ %>
				<td class="text-success"><%=market.price_chage%></td>
				<% }else if(market.price_chage < 0){ %>
				<td class="text-danger"><%=market.price_chage%></td>
				<% }else{ %>
				<td><%=market.price_chage%></td>
				<% } %>
				<td><%=market.stock_volume%></td>
				<td><%=market.market_value%></td>
			</tr>
			<% }); %>
		</tbody>
	</table>
</div>

<!-- top10gainer -->
<div class="container mb-5">
	<div class="card">
		<div class="card-body">
			<div class="card-title">

				<div class="container">
					<div class="row justify-content start">

						<div class="col-1 dropdown">
							<a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<%= currentMarket %>
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<a class="dropdown-item" href="/index/SET/<%= currentTop %>">SET</a>
								<a class="dropdown-item" href="/index/mai/<%= currentTop %>">mai</a>
							</div>
						</div>

						<div class="col-5 dropdown">
							<a class="btn btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<%= currentTopShow %>
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<a class="dropdown-item" href="/index/<%= currentMarket %>/gainer">Top 10 gainer</a>
								<a class="dropdown-item" href="/index/<%= currentMarket %>/top_volume">Top 20 stocks
									volume trading </a>
								<a class="dropdown-item" href="/index/<%= currentMarket %>/top_value">Top 20 stocks
									value trading </a>
							</div>
						</div>

						<!--						<div class="col-4">
							<select class="custom-select">
								<option value="top-gainer" href="#">Top 10 gainer</option>
								<option value="top-volume" href="#">Top 20 stocks volume trading</option>
								<option value="top-value">Top 20 stocks value trading</option>
							</select>
						</div>
					-->
					</div>
				</div>

			</div>
			<div class="card-body">
				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Stock Symbol</th>
							<th scope="col">Last Price</th>
							<th scope="col">Volume</th>
							<th scope="col">Value</th>
							<th scope="col">Price Change</th>
						</tr>
					</thead>
					<tbody>
						<% if (currentTop == 'gainer') { %>
							<% if (tops.length >= 10) { %>
								<% for(var i = 0;i<10; i++) { %>
								<tr>
									<td scope="row"><%=tops[i].Stock_Symbol%></td>
									<td><%=tops[i].last_price%></td>
									<td><%=tops[i].stock_value%></td>
									<td><%=tops[i].stock_volume %></td>
									<% if(tops[i].price_change > 0){ %>
									<td class="text-success"><%=tops[i].price_change%></td>
									<% }else if(tops[i].price_change < 0){ %>
									<td class="text-danger"><%=tops[i].price_change%></td>
									<% }else{ %>
									<td><%=tops[i].price_change%></td>
									<% } %>
								</tr>
							<% } %>
							<% }else{ %>
								<% for(var i = 0;i<tops.length; i++) { %>
								<tr>
									<td scope="row"><%=tops[i].Stock_Symbol%></td>
									<td><%=tops[i].last_price%></td>
									<td><%=tops[i].stock_value%></td>
									<td><%=tops[i].stock_volume %></td>
									<% if(tops[i].price_change > 0){ %>
									<td class="text-success"><%=tops[i].price_change%></td>
									<% }else if(tops[i].price_change < 0){ %>
									<td class="text-danger"><%=tops[i].price_change%></td>
									<% }else{ %>
									<td><%=tops[i].price_change%></td>
									<% } %>
								</tr>
								<% } %>
							<% } %>
						<% }else{ %>
							<% if (tops.length >= 20) { %>
								<% for(var i = 0;i<10; i++) { %>
								<tr>
									<td scope="row"><%=tops[i].Stock_Symbol%></td>
									<td><%=tops[i].last_price%></td>
									<td><%=tops[i].stock_value%></td>
									<td><%=tops[i].stock_volume %></td>
									<% if(tops[i].price_change > 0){ %>
									<td class="text-success"><%=tops[i].price_change%></td>
									<% }else if(tops[i].price_change < 0){ %>
									<td class="text-danger"><%=tops[i].price_change%></td>
									<% }else{ %>
									<td><%=tops[i].price_change%></td>
									<% } %>
								</tr>
							<% } %>
							<% }else{ %>
								<% for(var i = 0;i<tops.length; i++) { %>
								<tr>
									<td scope="row"><%=tops[i].Stock_Symbol%></td>
									<td><%=tops[i].last_price%></td>
									<td><%=tops[i].stock_value%></td>
									<td><%=tops[i].stock_volume %></td>
									<% if(tops[i].price_change > 0){ %>
									<td class="text-success"><%=tops[i].price_change%></td>
									<% }else if(tops[i].price_change < 0){ %>
									<td class="text-danger"><%=tops[i].price_change%></td>
									<% }else{ %>
									<td><%=tops[i].price_change%></td>
									<% } %>
								</tr>
								<% } %>
							<% } %>

						<% } %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<script>

new Chart(document.getElementById("line-SET"), {
  type: 'line',
  data: {
    labels: [<%=daySET%>],
    datasets: [{
        data: [<%=priceSET%>],
        label: "SET",
        borderColor: "#c45850",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'SET-MARKET'
    }
  }
});

  new Chart(document.getElementById("line-MAI"), {
  type: 'line',
  data: {
    labels: [<%=dayMAI%>],
    datasets: [{ 
        data: [<%=priceMAI%>],
        label: "mai",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'mai-MARKET'
    }
  }
});

</script>

<% include ../partials/footer %>