<% include ../../../partials/adminHead %>
<br>
<form method="post" action="/admin/show/insert/account">
  <div class="form-group fieldGroup">
    <div class="input-group">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Column</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PIN</td>
            <td><input class="form-control" style="width:50%" type="text" name="PIN[]"></td>
          </tr>
          <tr>
            <td>Account Balance</td>
            <td><input class="form-control" style="width:50%" type="text" name="Account_Balance[]"></td>
          </tr>
          <tr>
            <td>Account Type</td>
            <td>
              <select class="form-control" style="width:50%;" name="Account_Type[]">
                <option value="Cash_Account">Cash Account</option>
                <option value="Cash_Balance">Cash Balance</option>
                <option value="Credit_Balance">Credit Balance</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Personal ID</td>
            <td>
              <div style="overflow: auto;">
                <select class="form-control" style="width:50%;" name="Trader_Personal_ID[]">
                  <% personalIDs.forEach(function(personalID){ %>
                  <option value="<%=personalID.Trader_Personal_ID%>"><%=personalID.Trader_Personal_ID%></option>
                  <% }); %>
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td>Broker Symbol</td>
            <td>
              <select class="form-control" style="width:50%" name="Broker_Symbol[]">
                <% stocks.forEach(function(stock){ %>
                <option value="<%=stock.Broker_Symbol%>"><%=stock.Broker_Symbol%></option>
                <% }); %>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="input-group-addon">
        <a href="javascript:void(0)" class="btn btn-success addMore"><span class="glyphicon glyphicon glyphicon-plus"
            aria-hidden="true"></span> Add</a>
      </div>
    </div>
  </div>
  <input type="submit" name="submit" class="btn btn-primary" value="SUBMIT" />
</form>

<!-- copy of input fields group -->
<div class="form-group fieldGroupCopy" style="display: none;">
  <div class="input-group">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Column</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>PIN</td>
          <td><input class="form-control" style="width:50%" type="text" name="PIN[]"></td>
        </tr>
        <tr>
          <td>Account Balance</td>
          <td><input class="form-control" style="width:50%" type="text" name="Account_Balance[]"></td>
        </tr>
        <tr>
          <td>Account Type</td>
          <td>
            <select class="form-control" style="width:50%;" name="Account_Type[]">
              <option value="Cash_Account">Cash Account</option>
              <option value="Cash_Balance">Cash Balance</option>
              <option value="Credit_Balance">Credit Balance</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Personal ID</td>
          <td>
            <div style="overflow: auto;">
              <select class="form-control" style="width:50%;" name="Trader_Personal_ID[]">
                <% personalIDs.forEach(function(personalID){ %>
                <option value="<%=personalID.Trader_Personal_ID%>"><%=personalID.Trader_Personal_ID%></option>
                <% }); %>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>Broker Symbol</td>
          <td>
            <select class="form-control" style="width:50%" name="Broker_Symbol[]">
              <% stocks.forEach(function(stock){ %>
              <option value="<%=stock.Broker_Symbol%>"><%=stock.Broker_Symbol%></option>
              <% }); %>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="input-group-addon">
      <a href="javascript:void(0)" class="btn btn-danger remove"><span class="glyphicon glyphicon glyphicon-remove"
          aria-hidden="true"></span> Remove</a>
    </div>
  </div>
</div>



<% include ../../../partials/adminFoot %>