<% include ../../partials/adminHead %>

<br>
<!--Search-->
<div class="bg-dark text-white">
  <br>
  <form class="form-inline" action="/admin/show/account" method="POST">
    <div class="form-group">
      <div class="col-sm-3">
        <select class="form-control" name="Account_type">
          <option value="" disabled selected hidden>Account type...</option>
          <option value="Cash_Account">Cash Account</option>
          <option value="Cash_Balance">Cash Balance</option>
          <option value="Credit_Balance">Credit Balance</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-3">
        <input class="form-control" type="number" placeholder="Personal ID">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-3">
        <select class="form-control" name="Account_type">
          <option value="" disabled selected hidden>Broker...</option>
          <option value="Cash_Account">Cash Account</option>
          <option value="Cash_Balance">Cash Balance</option>
          <option value="Credit_Balance">Credit Balance</option>
        </select>
      </div>
    </div>
    <button class="btn btn-outline-secondary" type="submit">Search</button>
  </form>
  <br>
</div>
<br>
<table class="table table-dark">
  <thead>
    <tr>
      <td scope="col"></td>
      <th scope="col">Account_ID</th>
      <th scope="col">PIN</th>
      <th scope="col">Account_Balance</th>
      <th scope="col">Account_Type</th>
      <th scope="col">Trader_Personal_ID</th>
      <th scope="col">Broker_Symbol</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% accounts.forEach(function(account){ %>
    <tr>
      <td><input type="checkbox" name="checkAll" class="checkSingle"></td>
      <th scope="row"><%=account.Account_ID%></th>
      <td><%=account.PIN%></td>
      <td><%=account.Account_Balance%></td>
      <td><%=account.Account_Type%></td>
      <td><%=account.Trader_Personal_ID%></td>
      <td><%=account.Broker_Symbol%></td>
      <td>
        <form action="/admin/accounts/<%=account.Account_ID%>/edit" method="GET">
          <button class="btn btn-warning" aria-hidden="true"><i class="fa fa-wrench" aria-hidden="true"></i></button>
        </form>
      </td>
      <td>
        <form action="/admin/accounts/<%=account.Account_ID%>?_method=DELETE" method="POST">
          <button class="btn btn-danger" aria-hidden="true"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </form>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col"><input type="checkbox" name="checkedAll" id="checkedAll"> Check all</th>
      <th>
        <form action="/" method="GET">
          <button class="btn btn-warning" aria-hidden="true"><i class="fa fa-wrench" aria-hidden="true"></i></button>
        </form>
      </th>
      <th>
        <form action="/" method="POST">
          <button class="btn btn-danger" aria-hidden="true"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </form>
      </th>
    </tr>
  </thead>
</table>



<% include ../../partials/adminFoot %>